name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:

  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        go: ["oldstable", "stable"]
    name: Tests on Go ${{ matrix.go }}
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

    - name: Install Go
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
      with:
        go-version: ${{ matrix.go }}
        check-latest: true

    - name: Run tests
      run: make test